.front-page-title {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: rgb(25, 99, 99);
    background-color: bisque;

}